fastapi
uvicorn
pandas
numpy
fairlearn
aif360
shap
lime
google-generativeai
scikit-learn
plotly
python-multipart
python-dotenv
matplotlib
openpyxl
sqlalchemy
psycopg2-binary
mysql-connector-python
pyarrow
python-jose[cryptography]
passlib[bcrypt]

